<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Robot Arena</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1 id="main-title" style="cursor: pointer;" title="Klikni pro obnovení stránky">Robot Arena</h1>
    </header>
    
    {% block content %}{% endblock %}
    
    <script src="/static/js/app.js"></script>
    <script src="/static/js/audio.js"></script>
    <script src="/static/js/arena.js"></script>
</body>
</html>

